.container {
display: block;
height: 120vh;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.header h4{
  font-size: 1.5em;
  font-family: fantasy;
}

.header{
  position: relative;
  padding: 0px 3px;
  width: 100%;
}

.formWrapper{
  width: 100%;
}



.containers{
  overflow: hidden;
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
}


.search{
  width: 370px;
  height: 50px;
  background: #020815;
  border: none;
  text-align: left;
  font-size: 10pt;
  float: left;
  color: rgb(167, 149, 142);
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-left: 12px;
}

button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  transition: all .55s ease;
  cursor: pointer;
}

.search::-webkit-input-placeholder {
   color: rgb(167, 149, 142);
   text-transform: capitalize;
   font-family: geometria_lightlight;
}

.containers:hover button.icon, .containers:active button.icon, .containers:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.containers:hover button.icon:hover{
  background: rgb(167, 149, 142);
}

.warning{
  padding:20px 0px;
  text-align: center;
  color: rgba(255, 87, 34, 0.91);
}

footer{
  padding: 20px;
  background: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
}

.footertext{
  color: #7e7574;
  font-size: 11px;
}
