.listwrapper{
  padding: 13px 10px;
  width: 360px;
  flex-direction: row;
  display: flex;
  height: 37px;
  margin: 0px 7px;
  -webkit-transition: box-shadow ease-out 0.63s;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  border-top: 1px solid rgb(44, 80, 97);
  box-shadow: #040404 0px 3px 8px 0px;
}


.symbol{
  font-size: 20px;
  color: #7e7574;
  text-align: left;
}
.small{
  color: #383d47;
  padding-right: 4px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  padding-top: 3px;
  text-transform: uppercase;
}

.stockValue{
  color: rgba(108, 116, 128, 0.79);
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
  font-family: museo_slab500;
  -webkit-font-smoothing: subpixel-antialiased;
}
li{
  height: 74px;
}
.stockName{
  font-size: 12px;
  color: #9b9e9e;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  font-family: geometria_lightlight;
  -webkit-font-smoothing: subpixel-antialiased;
}

.lastPrice{
  font-size: 59px;
  padding: 10px;
  width: 100px;
}
.positive{
  color: #3AA17E;
}
.negative{
  color: #da7352;
}

.stockWrap{
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 13px;
  font-family: geometria_lightlight;
}

.trendWrap{
  width:100px;
  position: relative;
  left: 8px;
  top: -3px;
  margin:1px 20px;
  font-family: geometria_lightlight;
  -webkit-font-smoothing: subpixel-antialiased;
}

.priceWrap{
  width: 90px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  left: 20px;
  font-family: geometria_lightlight;
  -webkit-font-smoothing: subpixel-antialiased;

}

.selected{

}
.active{
  background: rgba(16, 16, 16, 0.55);
  border-top: 1px solid rgba(255, 214, 10, 0.49);
}

.chartContainer{
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 300px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  font-family: museo_slab500;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  margin-bottom: 15px;
}

.highcharts-title {
    fill: #434348;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-size: 3em;
    font-family: geometria_lightlight;
}

button.icon{
  border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #232833;
  height: 25px;
  width: 25px;
  color: white;
  opacity: 0;
  font-size: 10pt;
  transition: all .55s ease;
  cursor: pointer;
  position: relative;
  left: 355px;
  top: -50px;
}

.listcontainer{

}
.listcontainer:hover button.icon, .listcontainer:active button.icon, .listcontainer:focus button.icon{
  outline: none;
  opacity: 1;
  display:inline-block;
}

.listcontainer:hover button.icon:hover{
  background: #FB9832;
}

.stockchartWrapper{
  width: 380px;
  padding: 10px;
  height: 300px;
  margin-bottom: 0px;
}

.verboseStock{
  display: inline-block;
  position: relative;
  bottom: 3px;
  left: -8px;
  margin-bottom: 15px;
}

.verboseBox{
  width: 100px;
  position: relative;
  left: 14px;
  margin: 6px 11px 1px 13px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: #7e7574;
  font-size: smaller;
  font-weight: 900;
  box-shadow: inset 8px 4px 5px rgba(39, 1, 1, 0);
  background: rgb(0, 0, 0);
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

.bar{
  width: 407px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(44, 80, 97, 0.66);
  box-shadow: #040404 0px 3px 8px 0px;
}
