body {
  position: relative;
  color: white;
  height: 120vh;
  overflow-x: hidden;
  background-color: #232C39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button,textarea, input {
  outline: none;
  box-shadow:none;
 }


 .highcharts-navigator-handle-left, .highcharts-navigator-handle-right, .highcharts-navigator {
   display: none;
 }
 .fa-caret-up{
    color: #3AA17E;
    height: 0px;
    padding-right: 8px;
 }

 .fa-caret-down{
   color: #da7352;
   height: 0px;
   padding-right: 8px;
 }


.blink{
  animation: blinker 0.6s linear infinite;
}

.fa-bolt{
  position: absolute;
  margin-top: 16px;
  left: 13px;
  opacity: 1;
  cursor: pointer;
  color: #7d7f82;
  padding-top: 8px;
  padding-right: 6px;
}



@keyframes blinker {
  50% { color: #19ff39; }
}

.listcontainer:hover i.fa-bolt, .listcontainer:active i.fa-bolt, .listcontainer:focus i.fa-bolt {
   color: #19ff39;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#adslot4{
  width: 320px;
  height: 250px;
}
