@font-face {
    font-family: 'geometria_lightlight';
    src: url('./utils/geometria-light-webfont.eot');
    src: url('./utils/geometria-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./utils/geometria-light-webfont.woff2') format('woff2'),
         url('./utils/geometria-light-webfont.woff') format('woff'),
         url('./utils/geometria-light-webfont.ttf') format('truetype'),
         url('./utils/geometria-light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_slab500';
    src: url('./utils/Museo_Slab_500_2-webfont.eot');
    src: url('./utils/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('./utils/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('./utils/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('./utils/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('./utils/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
